<h1>Name: <%= @kitten.name %></h1>
<table>
  <thead>
    <tr>
     <th>age(days)</th>
     <th>cuteness</th>
     <th>softness</th>
    </tr>
  </thead>
  <tbody>
   <tr>
    <td><%= @kitten.age %></td>
    <td><%= @kitten.cuteness %></td>
    <td> <%= @kitten.softness %></td>
    </tr>
  </tbody>
</table>
